.admin_div {
  background-color: var(--secondary-sub-color);
  border-radius: 10px;
}

.admin_div_mainsec {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.admin_city_add {
  background-color: var(--primary-main-color);
  color: var(--secondary-sub-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 7px 20px;
  opacity: 0.9;
}

.admin_city_add:hover {
  opacity: 1;
}

.admin_form {
  background: linear-gradient(
    135deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 20%,
    rgb(151, 8, 15) 100%
  );
  color: var(--secondary-sub-color);
  border-radius: 12px;
  padding: 20px;
}

.admin_form_btn {
  background-color: var(--secondary-sub-color);
  border-radius: 5px;
  border: none;
}

.admin_form_line {
  height: 1px;
  background-color: var(--secondary-sub-color);
}

.custom-textarea {
  height: 150px;
  resize: none;
  overflow-y: auto;
  white-space: pre-wrap;
}

.admin_val_Add {
  background-color: rgb(231, 173, 48);
  border-radius: 5px;
  padding: 2px 4px;
  color: var(--primary-sub-color);
  display: flex;
  justify-content:center;
  align-items: center;
  gap:5px;
}

/* .table-responsive {
  overflow-x: auto;
  width: 100%;
}

.p-datatable-wrapper {
  min-width: 900px; 
} */


.facility_Add_btn{
  border: none;
}

.screen_add{
  border-radius: 5px;
}