.seat_top {
  background-color: var(--secondary-sub-color);
}

.show_time_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  background-color: rgb(248, 248, 248);
}

.seat_show_time {
  color: rgb(64, 216, 64);
  border: 2px solid rgb(64, 216, 64);
  border-radius: 10px;
  padding: 5px 20px;
}

.seat_show_timeSelect {
  color: var(--secondary-sub-color);
  background-color: rgb(64, 216, 64);
  border: 2px solid rgb(64, 216, 64);
  border-radius: 10px;
  padding: 5px 20px;
}


.show_seat {
  width: 50%;
  margin: auto;
}

.seat {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(64, 216, 64);
  border: 1px solid rgb(64, 216, 64);
  margin: 5px 7px;
  cursor: pointer;
}

.selected-seat {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-sub-color);
  background-color: rgb(64, 216, 64);
  border: 1px solid rgb(64, 216, 64);
  margin: 5px 7px;
}

.seat_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrLineSeat {
  box-shadow: 0 3px 3px -2px lightgrey;
  height: 1px;
  background-color: lightgray;
}

.seatCategory {
  color: lightgray;
}

.row_label {
  width: 10%;
  color: lightgray;
}

.row_seat {
  width: 90%;
}

.seat_select_count,
.noseat_select_count {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}


.seat_select_count {
  color: var(--secondary-sub-color);
  background-color: var(--primary-main-color);
  opacity: 0.9;
}

.noseat_select_count:hover {
  color: var(--secondary-sub-color);
  background-color: var(--primary-main-color);
  opacity: 0.9;
}

.hrLine2 {
  width: 100%;
  margin: 10px;
  box-shadow: 0 3px 3px -2px lightgrey;
  height: 0.1px;
  background-color: lightgray;
}

.select_seat_btn {
  color: var(--secondary-sub-color);
  background-color: var(--primary-main-color);
  opacity: 0.9;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 7px;
  width: 100%;
  font-weight: lighter;
}


.pay_count_btn {
  color: var(--secondary-sub-color);
  background-color: var(--primary-main-color);
  opacity: 0.9;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 7px;
  width: 50%;
  font-weight: lighter;
  position: absolute;
  bottom: 0%;
}

.payment_summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: rgb(243, 243, 243)
}

.payment_sec {
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.payment_box_Color {
  background-color: var(--secondary-sub-color);
}

.payment_sec_heading {
  color: var(--primary-main-color);
  letter-spacing: 3px;
  font-size: 20px;
}

.booking_details_text {
  font-size: 14px;
}

.booking_screen {
  font-size: 14px;
  color: grey;
}

.hrLine3 {
  box-shadow: 0 3px 3px -2px lightgrey;
  height: 0.1px;
  background-color: lightgray;
}

.amount_total_text {
  font-size: 20px;
  background-color: #fffcdc;
}

.amount_total_text_pay {
  font-size: 20px;
  background-color: var(--primary-main-color);
  opacity: 0.9;
  color: var(--secondary-sub-color);
  border-radius: 10px;
  cursor: pointer;
}

.button-primary {
  background-color: var(--primary-main-color);
  color: var(--secondary-sub-color);
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

.seat.booked-seat {
  background-color: lightgray;
  cursor: not-allowed;
  color: var(--secondary-sub-color);
  border-color: lightgray;
}

.back_btn_1{
  background-color: var(--primary-main-color);
  border: none;
  color: var(--secondary-sub-color);
  border-radius: 5px;
  padding: 10px 20px;
}