.cinema_list {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
}

@media (max-width: 855px) {
    .cinema_list {
      width: 80%;
    }
  }

.cinema_name {
    cursor: pointer;
    flex: 0 0 calc(33.333% - 10.67px);
    background-color:var(--secondary-sub-color);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

@media (max-width: 768px) {
    .cinema_name {
        flex: 0 0 calc(50% - 8px);
    }
}

@media (max-width: 480px) {
    .cinema_name {
        flex: 0 0 100%;
    }
}

.cinema_text{
    font-size: 14px;
    font-weight: 400;
}

.cinema_text:hover{
    text-decoration: underline;
    cursor: pointer;
}