.edit_profile {
    --bs-gutter-x:0 !important;
}

.edit_detail {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .edit_detail {
      width: 75%;
    }
  }
  
  @media (max-width: 768px) {
    .edit_detail {
      width:90%;
    }
}

.acc_detail1 {
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to right, var(--primary-sub-color), var(--primary-main-color));
}

.edit_image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 30px;
    top: 20px
}

.per_detail {
    border-radius: 10px;
    background-color: var(--secondary-sub-color);
}

.acc_detail {
    border-radius: 10px;
    background-color: var(--secondary-sub-color);
}

.lable_name{
    width: 30%;
}

.input_name{
    width: 70%;
}
.edit_pro_header{
    font-weight: 600;
}

.phone_number::placeholder {
    color: var(--primary-main-color) !important;
}

.phone_number{
    background-color: rgb(255, 228, 155);
    padding: 15px 0;
    border: none;
}

.edit_profile_btn{
    border: 1px solid var(--primary-main-color) ;
    background-color: var(--primary-main-color);
    color: var(--secondary-sub-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: auto;
    font-size:1.1rem;
}