@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-main-color: #d71921;
  --secondary-main-color: #2C2B2B;
  --primary-sub-color: #040404;
  --secondary-sub-color: #FFFFFF;
}

.text_font {
  color: var(--primary-main-color);
}

.title_font {
  font-weight: 600;
  font-size: 28px;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: rgb(243, 243, 243) !important;
}

.search-input::placeholder {
  font-size: 14px !important;
}

.p-datatable .p-datatable-thead>tr>th {
  padding: 0.5rem !important;
  background-color: rgb(242, 242, 242);
  color: var(--secondary-main-color);
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: var(--secondary-main-color);
}

.p-datatable .p-datatable-tbody>tr>td {
  padding: 0.5rem !important;
  text-align: center;
}

.p-datatable .p-datatable-tbody>tr:nth-child(odd)>td {
  background-color: #f9f9f9;
}

/* For even rows */
.p-datatable .p-datatable-tbody>tr:nth-child(even)>td {
  background-color: rgb(242, 242, 242);
  ;
}

.p-datatable .p-column-header-content {
  justify-content: center;
}

.modal {
  --bs-modal-header-padding: 0.5rem 1rem !important;
  --bs-modal-padding: 0.8rem !important;
}