.recommed_all{
    --bs-gutter-x:0 !important;
}

.main_movie{
    width: 90%;
    margin: auto;
}

.left_fliter{
    width: 25%;
}

.right_movie{
    width: 75%;
}

.lag_modal{
    border: 1px solid lightgray ;
    padding: 5px;
    color: var(--primary-main-color);
}

.language_filter{
    background-color: var( --secondary-sub-color);
}

.lag_modal_right{
    border: 1px solid lightgray ;
    padding: 5px 10px;
    color: var(--primary-main-color);
    background-color: var( --secondary-sub-color);
    border-radius: 20px;
}

.coming_sec{
    background-color: var( --secondary-sub-color);
    border-radius: 15px;
}

.see_scroll{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
}

.see-card{
    width:24%;
}

.see_browse{
    border: 1px solid var(--primary-main-color);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    color:var(--primary-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lan_filter_title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    cursor: pointer;
}